---
import MainLayouts from "../layouts/MainLayout.astro";

const name = "Facundo Colavini";
const title = "Home Page";
---

<MainLayouts title={title}>
    <h1>{name}</h1>
    <p id="currentTime">Momento actual: {new Date().toLocaleTimeString()}</p>
   
    <script>
      /* Momento actual */
      const p = document.querySelector("p") as HTMLParagraphElement;
      let currentMoment = '';

      setInterval(() => {
        currentMoment = new Date().toLocaleTimeString();
        return (p.innerHTML = `Momento actual: ${currentMoment}`);
      }, 200);

    </script>

</MainLayouts>
